*~
*.bak
Thumbs.db
desktop.ini
.DS_Store
.buildpath
.project
.settings
*.tmproj
fuel/app/logs/*/*/*
fuel/app/cache/*/*
build
nbproject/
.idea
/data/tmp/*
/data/dbbackup/*
/data/cache/*
/data/compile/*
/data/upfiles/*
/data/avatar/*
/fuel/app/config/crypt.php