
/* ”√ªß÷––ƒ */
.user_left{ width:180px; float:left;}
.user_right{ width:785px; float:right;}
.us_top{ background:url(../images/us_top.gif) no-repeat; height:4px; overflow:hidden}
.us_cen{ background:url(../images/title_bg.gif) repeat-x; height:33px;}
.us_cen h1{padding-left:12px; line-height:30px; font-family:"Œ¢»Ì—≈∫⁄"; font-size:14px; color:#666666; font-weight:normal; float:left; height:35px; background:url(../images/us_bg.gif) no-repeat 155px  12px; width:158px}
.us_cen ul{ padding-bottom:10px; }
.us_sort li{height:26px; line-height:26px; color:#b5b5b5; padding-left:30px; font-family:ÀŒÃÂ; font-size:12px; border-bottom:#e6e6e6 dotted 1px}
.us_sort li a{ line-height:29px;}
.us_cen li a:hover{ text-decoration:underline; color:#6F96BF; font-weight:bold}
.us_bot{ background:url(../images/us_bot.gif) no-repeat; height:4px; overflow:hidden}
.main_box{border:#dddddd solid 1px;}
.us_sort{ padding:0 10px 5px}

.us_r_bor1{ padding:20px 30px}
.m_change{background:url(../images/title_bg.gif) repeat-x; height:33px; border:#dddddd solid 1px; border-bottom:none }
.m_change li{ float:left}
.m_change li a{ padding:9px 20px 7px 20px; line-height:35px}
.m_change li a:hover,.m_change li a.onn{ background:url(../images/us_cen1_bg.gif) repeat-x; height:33px; text-decoration:none}
.m_change h1{ font-size:14px; font-family:"Œ¢»Ì—≈∫⁄"; padding-left:15px;color:#ff7e00; line-height:35px }

.main_box1{border:#dddddd solid 1px}
.m_r_title1{ height:32px; background:#FFF; border-bottom:#ff850e solid 1px;}
.m_r_title1 h1{ float:left; padding-left:15px; line-height:32px; font-size:14px; color:#ff7e00; font-family:"Œ¢»Ì—≈∫⁄"; font-weight:normal}
.m_r_title1 span{ float:right; padding-right:15px; color:#666666; line-height:33px;}
.m_r_title1 span a{ color:#666666}

.location{height:33px;}
.location span{ background:url(../images/title_bor1.gif) 1px no-repeat;font-size:12px; padding-left:20px; line-height:32px; font-family:"Œ¢»Ì—≈∫⁄"; color:#666666; font-weight:normal; float:left}
.location span a{ color:#7778b8}

.us_r_bor3{ padding:0 20px}
.us_r_bor{ border:#DBDBDB solid 1px; background:#fff; padding:10px}
.us_r_tit{ border-bottom:#F7D1D1 solid 1px; height:30px;}
.us_r_tit h1{ font-size:12px; float:left; padding-left:15px; color:#DD0C0C; line-height:30px;}
.us_r_tit span{ float:right; line-height:30px;}
.us_r_tit span a{ line-height:30px;}
.us_infor{ padding:10px 30px;}
b.red{ color:#D72D2C}

.remind{ padding-left:20px; border-bottom:#e1e1e1 solid 3px; padding-bottom:20px}
.remind span{color:#ff7e00}

.new_wmarn{ background:url(../images/user_phone.gif) no-repeat 600px 30px}
.new_wmarn li{line-height:35px; width:550px; height:35px; border-bottom:#e1e1e1 solid 1px;padding-left:20px}
.new_wmarn li.bacn{ background:#f0f0f0;}
.us_cancel{ text-align:right}

.my_news{ padding:0px 10px}
.my_news td{ border-bottom:#E1E1E1 solid 1px; height:35px; line-height:35px; padding-left:10px}
.my_news td a{ color:#425F9D;}
td.time{ color:#999999; padding-right:10px}

table.tabguy{ border-collapse:collapse}
table.tabguy td{ border:#CCCCCC solid 1px; height:32px; line-height:32px; text-align:center}
table.tabguy tr.gtit td{ background:#F6F6F6;}

table.tabyel{ border-collapse:collapse}
table.tabyel td{ border:#dcdcdc solid 1px; height:32px; line-height:32px; text-align:center; color:#333333}
table.tabyel td a{color:#425F9D;}
table.tabyel tr.ytit td{ background:#E0ECF4; text-align:left; padding-left:15px; color:#666666; font-weight:bold}
table.tabyel tr.ytit1 td{ font-weight:bold; background:url(../images/ba_fo_stroke_bg.gif) repeat-x;}
table.tabyel tr.ynow td{ background:#EEF4FE;}
table.tabyel1 td{ height:32px; line-height:32px;color:#333333;}
table.tabyel1 td a{ padding-right:10px; color:#ff880d}

.jk_word{ padding:10px 10px 0 0}

.us_r_left{ float:left; width:565px}
.change{ margin:5px 0 0 0; text-align:center}
.post{ height:30px; background:#ffffff; border:#e7e7e7 solid 1px;}
.post_1{ margin:5px 10px 5px 10px}
.post_1 h1{ color:#c42700; font-size:12px;font-family:"Œ¢»Ì—≈∫⁄"; font-weight:normal}
.post_1 span{ float:right; display:block}
.us_infor a{ color:#d72d2c;font-family:"Œ¢»Ì—≈∫⁄"}
.us_infor td{ color:#757575; font-family:"Œ¢»Ì—≈∫⁄"}
.us_infor font{ color:#c42700;font-family:"Œ¢»Ì—≈∫⁄"}
.m_r_news ul.a_color a{color:#245F98}
.m_r_news ul.a_color_1 a{color:#245F98}

.log_content { padding: 40px 40px;}

.shenhe_tit{ background: url(../images/img_shenhe.gif) no-repeat scroll 0 0 ;border-left: 1px solid #C8C8C8;border-right: 1px solid #C8C8C8;height: 32px;overflow: hidden;width: 741px;}
.se_tit01 { background: url(../images/img_shenhe.gif) no-repeat scroll 0 -32px ;}
.se_tit02 { background: url(../images/img_shenhe.gif) no-repeat scroll 0 -64px ;}
.se_tit03 { background: url(../images/img_shenhe.gif) no-repeat scroll 0 -96px ;}
.se_tit04 { background: url(../images/img_shenhe.gif) no-repeat scroll 0 -128px ;}
.se_tit05 { background: url(../images/img_shenhe.gif) no-repeat scroll 0 -160px ;}
.se_tit06 { background: url(../images/img_shenhe.gif) no-repeat scroll 0 -192px ;}
.se_tit07{ background: url(../images/img_shenhe.gif) no-repeat scroll 0 -224px ;}
.se_tit08 { background: url(../images/img_shenhe.gif) no-repeat scroll 0 -256px ;}

.shenhe_tit ul {padding-left: 45px}
.shenhe_tit li {float: left; height: 32px;overflow: hidden; padding-left: 10px; width: 70px;text-align: left;}
.shenhe_tit li.selected a {color: #FFFFFF;font-weight: bold;padding-left: 10px;}
.shenhe_tit li a {display:inline-block;height: 33px;line-height: 33px; padding-left: 10px;width: 90px; text-decoration:none}

.item_group { background:#DBEAF7; border-left: 1px solid #BCCCD8;  border-right: 1px solid #BCCCD8;  border-top: 1px solid #BCCCD8;  height: 30px;  line-height: 30px;  margin: 0 auto;   padding: 0 10px; }
.user_info_box { border: 1px solid #BCCCD8;  height: auto;  margin: 0 auto;  padding: 10px;}

.user_info_item { padding:5px 0;}
.user_info_item_left { display: block;  float: left;  line-height: 21px;  padding: 0 5px 0 0;  text-align: right;  width: 160px;}
.user_info_item td {line-height: 35px;}

/* ”√ªßΩÁ√Ê */
.con_left{ width:765px; float:left}
.con_right{ width:200px; float:right}
.r_cen{padding:10px; background:#fff; width:178px; overflow:hidden}
.cy_list li{ width:64px; overflow:hidden; text-align:center; margin:10px 12px 5px; float:left; display:inline}
.cy_list li a{ }