
#windownbg {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	background: #000;/*body-bg*/
	top: 0;
	left: 0;
	overflow:hidden
}
#windown-box {
	position: fixed;
	_position: absolute;/*For IE 6.0*/
	
	background: #FFF;
	text-align: left;
}
#windown-title {
	position: relative;
	height: 30px;
	border: 1px solid #A6C9E1;
	overflow: hidden;
	background: url(../images/tig_bg.png) 0 -150px repeat-x;
}
#windown-title h2 {
	position: relative;
	left: 10px;
	top: 5px;
	font-size: 14px;
	font-weight:bold;
	color: #000000;
}
#windown-close {
	position: absolute;
	right: 10px;
	top: 8px;
	width: 10px;
	height: 16px;
	text-indent: -10em;
	overflow: hidden;
	background: url(../images/icon.png) -820px -720px no-repeat;
	cursor: pointer;
}
#windown-content-border {
	position: relative;
	top: -1px;
	border: 1px solid #A6C9E1;
	
	background: url(../images/tig_bg.png) 0 -380px repeat-x;
}
#windown-content {
	position: relative;
	overflow: auto;
	text-align: center;
}
#windown-content img,#windown-content iframe{
	display: block;
}
#windown-content .loading {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -8px;
	margin-top: -8px;
}
.tip_box { text-align:left; line-height:23px; overflow:hidden; height:auto;}
.tip_box .title { font-weight:bold; font-size:14px; border-bottom:1px dashed #CCCCCC}
.operate_button{background-color: #F5FBFE;text-align: center;padding: 5px;}
.ajax_login { line-height:25px;height:30px; margin-top:5px; margin-bottom:10px;}
