/* 弹出窗口-登录 */
.windows_div_bg{  display:none; background-color: #EAEDEC; width: 100%;height: 1000px;left:0;top:0;/*FF IE7*/
filter:alpha(opacity=90);/*IE*/
opacity:0.9;/*FF*/
z-index:1000;
position:fixed !important;/*FF IE7*/
position:absolute;/*IE6*/
_top:
expression(eval(document.compatMode &&
            document.compatMode=='CSS1Compat') ?
            documentElement.scrollTop + (document.documentElement.clientHeight-this.offsetHeight)/2 :/*IE6*/
            document.body.scrollTop + (document.body.clientHeight - this.clientHeight)/2);}
			
			
					
.deayou_ajax_dialog{ width:400px;   border-radius:5px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); z-index:1001;left:50%;top:250px;margin-left:-200px!important;/*FF IE7 该值为本身宽的一半 *//*FF IE7 该值为本身高的一半*/ margin-top:0; position:fixed!important;/* FF IE7*/ _position:absolute;/*IE6*/ 
_top:       expression(eval(document.compatMode &&
            document.compatMode=='CSS1Compat') ?
            documentElement.scrollTop + (document.documentElement.clientHeight-this.offsetHeight)/2 :/*IE6*/
            document.body.scrollTop + (document.body.clientHeight - this.clientHeight)/2);/*IE5 IE5.5*/
}	

.deayou_ajax_dialog_content{ display:inline-block;*display:inline;zoom:1;text-align:left;width:100%; padding:1px; background:#fff  }

.deayou_ajax_dialog_content .deayou_ajax_dialog_title{ height:30px; background:#f0f0f0; }
.deayou_ajax_dialog_content .deayou_ajax_dialog_title h1{ float:left; padding-left:15px; line-height:30px; font-size:14px; font-weight:normal}
.deayou_ajax_dialog_content .deayou_ajax_dialog_title span{ float:right; padding:10px 15px 0 0;}
.deayou_ajax_dialog_content .deayou_ajax_dialog_title span a{ background:url(../images/deayou/icon1.png) no-repeat -43px -128px; display:inline-block; width:8px; height:8px; }
.deayou_ajax_dialog_content .deayou_ajax_dialog_contents{ padding:15px; }

.deayou_ajax_dialog_full{ display:block;width:100%;height:100%;margin:0;padding:0!important; }	
			
			
			
.deayou_ajax_dialog_boolen{  height:50px; background:#fff; padding:20px; font-size:14px}
.deayou_ajax_dialog_boolen span.deayou_ajax_success{ background:url(../images/deayou/succ_icon.gif) no-repeat 45px 10px; display:inline-block; padding:10px 0 0 80px; height:30px; line-height:30px;}
.deayou_ajax_dialog_boolen span.deayou_ajax_false{ background:url(../images/deayou/fail_icon.gif) no-repeat 45px 10px; display:inline-block; padding:10px 0 0 80px; height:30px; line-height:30px;}
.deayou_ajax_div { height:30px;}
			
			
			
			
.pop_div{ display:none;border-radius:5px; box-shadow:0px 0px 10px #BABABA; border: 2px solid #D2D2D2;z-index:1001;left:50%;top:50%;margin-left:-450px!important;/*FF IE7 该值为本身宽的一半 */ margin-top:-190px!important;/*FF IE7 该值为本身高的一半*/ margin-top:0; position:fixed!important;/* FF IE7*/
position:absolute;/*IE6*/
_top:       expression(eval(document.compatMode &&
            document.compatMode=='CSS1Compat') ?
            documentElement.scrollTop + (document.documentElement.clientHeight-this.offsetHeight)/2 :/*IE6*/
            document.body.scrollTop + (document.body.clientHeight - this.clientHeight)/2);/*IE5 IE5.5*/
}	

.pop_div1{display:none; border-radius:5px; box-shadow:0px 0px 10px #BABABA;  border: 2px solid #D2D2D2;z-index:1001;left:50%;top:50%;margin-left:-265px!important;/*FF IE7 该值为本身宽的一半 */ margin-top:-130px!important;/*FF IE7 该值为本身高的一半*/ margin-top:0; position:fixed!important;/* FF IE7*/
_position:absolute;/*IE6*/
_top:       expression(eval(document.compatMode &&
            document.compatMode=='CSS1Compat') ?
            documentElement.scrollTop + (document.documentElement.clientHeight-this.offsetHeight)/2 :/*IE6*/
            document.body.scrollTop + (document.body.clientHeight - this.clientHeight)/2);/*IE5 IE5.5*/
}	

.pop_div2{ display:none; border-radius:5px; box-shadow:0px 0px 10px #BABABA; border: 2px solid #D2D2D2;z-index:1001;left:50%;top:50px;margin-left:-450px!important;/*FF IE7 该值为本身宽的一半 *//*FF IE7 该值为本身高的一半*/ margin-top:0; /* FF IE7*/ position:absolute;/*IE6*/
}

.pop_div3{ border-radius:5px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); z-index:1001;left:50%;top:250px;margin-left:-120px!important;/*FF IE7 该值为本身宽的一半 *//*FF IE7 该值为本身高的一半*/ margin-top:0; position:fixed!important;/* FF IE7*/ _position:absolute;/*IE6*/ 
_top:       expression(eval(document.compatMode &&
            document.compatMode=='CSS1Compat') ?
            documentElement.scrollTop + (document.documentElement.clientHeight-this.offsetHeight)/2 :/*IE6*/
            document.body.scrollTop + (document.body.clientHeight - this.clientHeight)/2);/*IE5 IE5.5*/
}	


.pop_div4{ border-radius:5px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); z-index:1001;left:50%;top:220px;margin-left:-200px!important;/*FF IE7 该值为本身宽的一半 *//*FF IE7 该值为本身高的一半*/ margin-top:0; position:fixed!important;/* FF IE7*/ _position:absolute;/*IE6*/
_top:       expression(eval(document.compatMode &&
            document.compatMode=='CSS1Compat') ?
            documentElement.scrollTop + (document.documentElement.clientHeight-this.offsetHeight)/2 :/*IE6*/
            document.body.scrollTop + (document.body.clientHeight - this.clientHeight)/2);/*IE5 IE5.5*/
}
.warning_bor111{ width:180px; height:50px; background:#fff; padding:20px; font-size:14px}
.warning_bor111 span.w_success{ background:url(../images/deayou/succ_icon.gif) no-repeat 45px 10px; display:inline-block; padding:10px 0 0 80px; height:30px; line-height:30px;}
.warning_bor111 span.w_fail{ background:url(../images/deayou/fail_icon.gif) no-repeat 45px 10px; display:inline-block; padding:10px 0 0 80px; height:30px; line-height:30px;}

.warning_bor222{width:388px; padding:1px; background:#fff }
.warning_bor222 .p_w_tit{ height:30px; background:#f0f0f0; }
.warning_bor222 .p_w_tit h1{ float:left; padding-left:15px; line-height:30px; font-size:14px; font-weight:normal}
.warning_bor222 .p_w_tit span{ float:right; padding:10px 15px 0 0;}
.warning_bor222 .p_w_tit span a{ background:url(../images/deayou/icon1.png) no-repeat -43px -128px; display:inline-block; width:8px; height:8px; }
.warning_bor222 .p_w_content{ padding:30px 40px 30px 80px; background:url(../images/deayou/warn_icon.gif) no-repeat 40px 25px}
.warning_bor222 .p_w_content h1{ font-size:14px; font-weight:normal}
.warning_bor222 .p_w_content span{ display:block; text-align:right; margin:15px 0 0 0}
.btn_ok{ width:55px; height:24px; border:none; background:#479F00; text-align:center; color:#FFFFFF;border-radius:2px; cursor:pointer; }
.btn_cc{ width:53px; height:24px; border:#C4C4C4 solid 1px; background:url(../images/deayou/btn_ccbg.gif) repeat-x; text-align:center; color:#73797C;border-radius:2px; cursor:pointer; }

.sm_warning{ position:absolute; border:#C6C6C6 solid 1px; border-radius:3px; padding:10px 20px; background:#fff; z-index:800; white-space: nowrap; box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);}
.sm_warning span.sm_succ{ padding:0 0 0 25px; background:url(../images/deayou/gtiticon.gif) no-repeat left center; color:#666666}


.login_div{ width: 900px;height: 380px;background: #fff url(../images/deayou/login_line.png) no-repeat 480px 65px;}
.login_d_left{ float:left; width:410px; margin:70px 0 0 60px; display:inline}
.login_d_left h1{ font-size:18px; font-family:"微软雅黑"; color:#353535; font-weight:normal;}
.login_t_bor{ margin-top:20px; width:292px;}
.login_text{ width:270px; height:31px; line-height:31px; border:#e9e9e9 solid 1px; background:#e9e9e9; padding:2px 10px;border-radius:3px;font-size:18px; font-family:"微软雅黑"; color:#999999}
.login_text1{ width:270px; height:31px; line-height:31px;box-shadow:0px 0px 3px #7DD123; border:#7DD123 solid 1px;padding:2px 10px;border-radius:3px;font-size:18px; font-family:"微软雅黑";}
.btn{ background:#479F00; font-size:16px; border:none; padding:5px 15px;  color:#fff; cursor:pointer; font-family:"微软雅黑"; _line-height:18px; border-radius:3px; }

.login_d_right{ float:right; width:280px; padding:110px 70px 0 0;}
.res_go{ font-size:14px;color:#666666}
.res_go a{ font-size:14px;}
.login_wb{ margin:30px 30px 0 0; font-size:14px; color:#666666; line-height:24px;}
.login_wb ul{ margin-top:15px}
.login_wb li{ margin:10px 0 0 0}
.login_wb li a{ background:url(../images/deayou/weibo_res.gif) no-repeat; display:block; width:75px; height:30px; padding-left:45px; line-height:30px; color:#666666; text-decoration:none}
.login_wb li a.txqq{ background-position:left -40px;}


/* 关闭窗口 */
.pop_div_rel{ position:relative; height:0}
.pop_div_close{ position:absolute; right:15px; top:15px;}
.pop_div_close a{ display:block; background:url(../images/deayou/close.gif) no-repeat; height:27px; width:27px;}

/* 站内消息 */
.site_mail{ width:530px; height:260px; background:#fff; }
.site_mail_view{ padding:40px 30px 0;}
.site_mail_view h1{ font-size:14px; font-weight:normal;}
.site_mail_view h1 a{ font-size:14px; font-weight:bold;}
.site_mail_view span{ display:block; margin-top:10px;}
.site_mail_text{ width:460px; height:100px;border:#CDCDCD solid 1px;border-radius:5px; padding:5px; font-size:14px;}
.site_mail_view em{ display:block; font-style:normal; margin-top:10px;}


/* 注册 */
.regist_bor,.regist_bor1{  border:#E8E8E8 solid 1px;background:#f7f7f7 url(../images/deayou/icon_foot.jpg) bottom right no-repeat; padding:30px 60px 50px;border-radius:3px; }
.regist_bor{margin:40px auto}
.regist_left{ width:500px; float:left;}
.regist_title{ font-family:"微软雅黑"; font-size:28px; color:#595959;}
.regist_form{ margin:20px 0 0 0px }
.regist_form li{ margin-top:15px;}
.regist_form h1{ float:left; font-size:14px; font-weight:normal;  line-height:35px; width:80px !important; text-align:right}
.regist_form span{ float:left; margin-left:10px; display:inline; font-size:14px; width:400px;}
.regist_form span b{ font-style:normal; padding-top:8px; display:inline-block; font-weight:normal}
.text_in{width:270px; height:31px; line-height:31px;border:#CDCDCD solid 1px;padding:2px 10px;border-radius:3px;font-size:18px; font-family:"微软雅黑"; background:#fff}
.text_in1{width:270px; height:31px; line-height:31px;box-shadow:0px 0px 3px #7DD123; border:#7DD123 solid 1px;padding:2px 10px;border-radius:3px;font-size:18px; font-family:"微软雅黑"; background:#fff}
.warning{ color:#999999; padding-top:5px; }
.warning em{color:#D06363; font-style:normal}
.regist_right{ float:right; width:290px; background:url(../images/deayou/login_line.png) no-repeat; height:195px; margin:40px 0 0 0; padding:45px 0 20px 60px;}
.gou{ display:inline; width:27px; height:24px; padding-left:15px;}

/* 同步后的登录 */
.regist_bor1{ margin:0px auto 40px}
.guy_bg{ background:#f7f7f7; padding:15px; margin-top:20px;}
.myinfo{}
.myinfo img{ float:left;}
.myinfo .info { font-size: 14px; line-height: 24px; margin-left: 60px; width: 530px;}
.sw-findpp{ margin-top:20px; height:55px; }
.sw-findpp li{ float:left; margin:0 5px 0 0; display:inline}
.sw-findpp li a{ background:#f7f7f7;font-family: '微软雅黑';font-size: 22px; display:inline-block; width:190px; height:55px; border-radius:3px 3px 0 0; text-align:center; line-height:55px; }
.sw-findpp li a:hover{ text-decoration:none}
.sw-findpp li.cur{}
.sw-findpp li.cur a{ border:#E8E8E8 solid 1px; border-bottom:none; color: #666666; }


/* 个人认证&组织认证 */
.rz_left{ width:535px; float:left}
.rz_wrbor1{ padding:0px 0 40px 40px;}
.rz_wrbor1 td{  font-size:14px; padding:8px 5px; font-size:14px; vertical-align:top; line-height:25px;}
.rz_wrbor1 td.hd_left_tit{ text-align:right; padding:10px 5px 10px }
.rz_wrbor1 td em{ color:#888888; font-size:12px; font-style:normal; display:block; line-height:18px; padding:5px 0 0 0}
.rz_wrbor1 td em.warning{ color:#D55A5A}
.rz_wrbor1 td span{ color:#FF0000}
.rz_wrbor1 td a.get_code{ display:inline-block; border:#D4D4D4 solid 1px; padding:4px 10px;}
.text_in22 { background: none repeat scroll 0 0 #FFFFFF; border: 1px solid #CDCDCD;  border-radius: 3px 3px 3px 3px;  font-size: 14px;  height: 28px; line-height: 28px;  padding: 2px 10px; width: 270px;}
.get_back{ text-align:right}
.get_back a{ font-size:14px}


.rz_right{ width:312px; float:right; margin:0px 35px 0 0; display:inline}
.grrz_infor,.zzrz_infor{ text-align:center; line-height:28px; color:#999999}
.grrz_infor span{ color:#F37800}
.zzrz_infor span{ color:#1386C1}

.loading111{ text-align:center}
.loading111 span{ font-family: '微软雅黑'; font-size:18px; display:block; width:120px; margin:0px auto; height:32px; background:url(../images/deayou/loading.gif) no-repeat; padding-left:30px; line-height:32px; color:#999999}