
/* 分页样式 */
.pages {margin: 20px auto 0px;padding: 10px 0 5px;text-align: center;width: 550px; font-family:Arial, Helvetica, sans-serif; }
.pages span {font-size: 14px; margin: 0 3px;padding: 5px 8px;text-decoration: none;font-weight:bold}
.pages a {background: none repeat scroll 0 0 #FFFFFF;border: 1px solid #D6D6D6;font-size: 12px;margin: 0 3px;padding: 4px 7px; font-size:14px;}
.pages a:hover {background: none repeat scroll 0 0 #588EBC;color: #FFFFFF; text-decoration: none;  }
.pages em{ font-family:"宋体"; font-style:normal; font-weight:bold; font-size:12px ; color:#000000;}



